<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!-- 	 聚合所有的xml 配置文件，以及properties文件 -->
    <context:property-placeholder location="classpath:common.properties"/>
    <context:component-scan base-package="com.cxs.service.impl"></context:component-scan>
    <import resource="classpath:spring-dubbo-provider.xml"/>
</beans>